* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1,
h2 {
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #175b70;
}

#logo {
    float: left;
    font-size: 280%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
}

.left-side {
    background: #175b70;
    height: 100vh;
    width: 50%;
}

.right-side {
    background: url('../images/family.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100vh;
}


.left-side h1 {

    font-size: 60px;
    line-height: 80px;
    color: white;
    width: 20%;
    margin-top: 80px;

    margin-left: 80px;

}

.left-side p {
    color: white;
    font-size: 19px;
    line-height: 30px;
    width: 50%;
    margin: auto;
    margin-top: 40px;
    margin-left: 80px;
}

/*Intruction style*/

#title-2 {
    text-align: center;
    margin: 30px 0;
    margin-top: 50px;
    font-size: 200%;
}

.Instructions {
    height: 300px;
    margin: 10px 0 20px;
    line-height: 22px;
    font-size: 14px;
}

.Instructions h1 {
    font-size: 20px;

}

.steps {
    margin-top: 20px;
    margin-left: 100px;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

/* budget style */

#calculator {
    font-family: sans-serif;
    max-width: 100em;
    background: #d0d0d0;
}

.wrapper {
    box-sizing: border-box;
    width: 200%;
    font-size: 16px;
    max-width: 60em;
    margin: 1em auto;

}

.container {
    width: 100%;
}

.sub-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper h3 {
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 0.6em;
}

.container input {
    display: block;
    width: 100%;
    padding: 0.6em 0.3em;
    border: 1px solid #d0d0d0;
    border-radius: 0.3em;
    color: #175b70;
    outline: none;
    font-weight: 400;
    margin-bottom: 0.6em;
}

.container input:focus {
    border-color: #175b70;
}

.total-amount-container,
.user-amount-container {
    background-color: #175b70;
    padding: 1.25em 0.9em;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
}

.output-container {
    background-color: #175b70;
    color: #ffffff;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    margin: 2em 0;
    padding: 1.2em;
}

.output-container p {
    font-weight: 500;
    margin-bottom: 0.6em;
}

.output-container span {
    display: block;
    text-align: center;
    font-weight: 400;
    color: #e5e5e5;
}

.submit {
    font-size: 1em;
    margin-top: 0.8em;
    background-color: #ffffff;
    border: none;
    outline: none;
    color: #175b70;
    padding: 0.6em 1.2em;
    border-radius: 0em, 3em;
    cursor: pointer;
}

.list {
    background-color: #175b70;
    padding: 1.8em 1.2em;
    box-shadow: 0 0.6em 1.2 rgba(28, 0, 80, 0.06);
    border-radius: 0.6em;
}

.sublist-content {
    width: 100%;
    border-left: 0.3em solid #ffffff;
    margin-bottom: 0.6em;
    padding: 0.5em 0;
}

.product {
    font-weight: 500;
    margin-left: 1.5em;
    color: #ffffff;
}

.amount {
    color: #ffffff;
    margin-left: 20%;
}

.icons-container {
    width: 5em;
    margin: 1.2em;
    align-items: center;
}

.product-title {
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.error {
    color: #ff465a;
}

.edit {
    margin-left: auto;
}

.edit,
.delete {
    background: transparent;
    cursor: pointer;
    margin-right: 1.5em;
    border: none;
    color: #587ef4;
}


/* footer */

footer {
    height: 50px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 300%;
    margin: 5%;
    padding: 5%;
    color: #175b70;
}

/*Media*/

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {

    .Instructions {
        width: 65%;
        height: auto;
        margin: 0 auto;
    }

    .calculator {
        width: 65%;
        height: auto;
        margin: 0 auto;
        font-size: 14px;
    }

    .wrapper {
        font-size: 14px;
    }

    .sub-container {
        grid-template-columns: 1fr;
    }

    hr {
        display: none;
    }
}

/* For medium screen sizes from 950px wide and down */

@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: none;
        margin-left: 0;
        margin-bottom: 20px;
        line-height: 25px;
        text-align: center;
    }

    #menu li {
        margin-right: 15px;
    }

    .Instructions {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }

    #title-2 {
        width: 100%;
        text-align: center;
    }

    .Instructions h1 {
        width: 50%;
        text-align: center;
    }

    .steps {
        text-align: center;
        padding: 0 20px;
    }
}